In [1]:
import pandas as pd
import numpy as np

In [2]:
#download the class movie reviews from here:
#https://docs.google.com/spreadsheets/d/17rCJzmWxqvAu9rkpkgt4ToccIlY4A1Ffuu1W9X3B8Ag/
#then read that in as a pandas dataframe

In [3]:
M = pd.read_csv("Movie Reviews - Sheet1 (1).csv", index_col='Name')

In [4]:
M.head()

,American Sniper,The Hunger Games: Mockingjay - Part 1,Guardians of the Galaxy,The Lego Movie,The Hobbit,Transformers,Malificent,Big Hero 6,Godzilla,Interstellar,How to Train your Dragon 2,Gone Girl,Divergent,The Fault in Our Stars,Unbroken,300: Rise of an Empire
Name,,,,,,,,,,,,,,,,
Aarti Jaiswal,4,NaN,NaN,NaN,4,3,NaN,5,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN
Aditya Dharmasagar,5,NaN,NaN,4,5,4,4,NaN,4,5,5,5,4,4,NaN,5
Adrian Cavallaris,NaN,4,3,NaN,4,2,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN
Ahmed Muheebuddin,5,NaN,4,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aishwarya reddy,NaN,3,4,3,4,4,3,NaN,4,4,3,5,NaN,4,NaN,3

In [5]:
M.tail()

,American Sniper,The Hunger Games: Mockingjay - Part 1,Guardians of the Galaxy,The Lego Movie,The Hobbit,Transformers,Malificent,Big Hero 6,Godzilla,Interstellar,How to Train your Dragon 2,Gone Girl,Divergent,The Fault in Our Stars,Unbroken,300: Rise of an Empire
Name,,,,,,,,,,,,,,,,
veerendra battula,3,NaN,2,1,NaN,2,3,NaN,2,NaN,1,3,2,NaN,NaN,5
Venkatesh Komma,NaN,NaN,4,NaN,5,NaN,4,3,4,5,4,4,5,5,4,5
Violeta Lee Fay,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,5,NaN,3,NaN,NaN,NaN,NaN,2
Yinka Adeyemo,4,NaN,4,NaN,4,NaN,NaN,4,NaN,NaN,4,NaN,NaN,NaN,NaN,4
Sai Sharan Vellala,5,4,3,2,5,5,4,5,5,5,3,2,NaN,3,2,5

In [6]:
def pearson(s1, s2):
    """Take two pd.Series objects and return a pearson correlation."""
    s1_c = s1 - s1.mean()
    s2_c = s2 - s2.mean()
    return np.sum(s1_c * s2_c) / np.sqrt(np.sum(s1_c ** 2) * np.sum(s2_c ** 2))

In [7]:
def get_recs(movie_name, M, num):

    import numpy as np
    reviews = []
    for title in M.columns:
        if title == movie_name:
            continue
        cor = pearson(M[movie_name], M[title])
        if np.isnan(cor):
            continue
        else:
            reviews.append((title, cor))
    
    reviews.sort(key=lambda tup: tup[1], reverse=True)
    return reviews[:num]

###Question 1:  What movie is most Similar to 'The fault in our stars' (60 pts)

In [8]:
get_recs('The Fault in Our Stars', M, 1)

[('Malificent', 0.39873118100855826)]

###Question 2:  Which movie(s) would you most like to see, based on your classmates experience? (40 pts)

In [9]:
# The movies I've seen
my_ratings = M.ix['Sai Sharan Vellala'].dropna()
# The movie I've rated the highest
my_ratings.sort(ascending=False)
# The name of the movie I've rated the highest
fav_movie = my_ratings.index[0]
# The name of the movie that is close to my favorite movie
get_recs(fav_movie, M, 1)

C:\Anaconda\lib\site-packages\ipykernel\__main__.py:4: FutureWarning: sort is deprecated, use sort_values(inplace=True) for for INPLACE sorting

[('American Sniper', 0.3262332843227817)]

###Question 3: Bonus Question...  For all the movies you haven't seen, can you predict how you'd rate them using your the class reviews? (10 pts)

In [10]:
my_ratings = M.ix['Sai Sharan Vellala']
test = my_ratings.isnull()
test # Divergent is the movie i haven't seen
get_recs('Divergent', M, 1)

[('Interstellar', 0.23948975945528242)]